{% extends 'userbase.html' %}
{% block workspace %}
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Welcome back, {{ g.user }}</p>
            </div>
            <div class="flex p-4 @container">
              <div class="flex w-full flex-col gap-4 @[520px]:flex-row @[520px]:justify-between @[520px]:items-center">
                <div class="flex gap-4">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                    style='background-image: url("https://cdn.usegalileo.ai/sdxl10/357ebc93-5605-425c-9317-11f3c48be46e.png");'
                  ></div>
                  <div class="flex flex-col justify-center">
                    <p class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em]">Email:</p>
                    <p class="text-[#9daab8] text-base font-normal leading-normal">something@mail.com</p>
                  </div>
                </div>
                <button
                  class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#293038] text-white text-sm font-bold leading-normal tracking-[0.015em] w-full max-w-[480px] @[480px]:w-auto"
                >
                  <span class="truncate">Edit Profile</span>
                </button>
              </div>
            </div>
            <div class="flex flex-wrap gap-4 p-4">
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#293038]">
                <p class="text-white text-base font-medium leading-normal"></p>
                <p class="text-white tracking-light text-2xl font-bold leading-tight">Total Number Of Projects</p>
                <p class="text-[#0bda5b] text-base font-medium leading-normal">10</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#293038]">
                <p class="text-white text-base font-medium leading-normal">6</p>
                <p class="text-white tracking-light text-2xl font-bold leading-tight">Active Projects</p>
                <p class="text-[#0bda5b] text-base font-medium leading-normal"></p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#293038]">
                <p class="text-white text-base font-medium leading-normal">5</p>
                <p class="text-white tracking-light text-2xl font-bold leading-tight">Database Servers</p>
                <p class="text-[#0bda5b] text-base font-medium leading-normal"></p>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Quick actions</h2>
            <div class="p-4 @container">
              <div class="flex flex-1 flex-col items-start justify-between gap-4 rounded-xl border border-[#3c4753] bg-[#293038] p-5 @[480px]:flex-row @[480px]:items-center">
                <p class="text-white text-base font-bold leading-tight">Create a new project</p>
                <a href="{{ url_for("user_views.newProject") }}">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#3289e7] text-white text-sm font-medium leading-normal"
                >
                  <span class="truncate">New project</span>
                </button>
                </a>
              </div>
            </div>
            <div class="p-4 @container">
              <div class="flex flex-1 flex-col items-start justify-between gap-4 rounded-xl border border-[#3c4753] bg-[#293038] p-5 @[480px]:flex-row @[480px]:items-center">
                <p class="text-white text-base font-bold leading-tight">Add a new database</p>
                <a href="{{ url_for("user_views.newDBServer") }}">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#3289e7] text-white text-sm font-medium leading-normal"
                >
                  <span class="truncate">New database</span>
                </button>
                </a>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Latest projects</h2>
            <div class="p-4">
              <h1> latest project </h1>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Guide</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#9daab8] text-sm font-normal leading-normal">Guide</p>
                    <p class="text-white text-base font-bold leading-tight">Optimise Your Project</p>
                    <p class="text-[#9daab8] text-sm font-normal leading-normal">Leverage our guide to optimize your project and boost performance</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#293038] text-white text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">Read guide</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/c44f1c76-c8d3-4073-b27d-9a140b39bccb.png");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#9daab8] text-sm font-normal leading-normal">Guide</p>
                    <p class="text-white text-base font-bold leading-tight">Set up custum domain</p>
                    <p class="text-[#9daab8] text-sm font-normal leading-normal">Follow our guide to set up a custom domain for your project</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#293038] text-white text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">Read guide</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/22155c53-42ca-4ca1-ba43-a8b91dfd1a31.png");'
                ></div>
              </div>
            </div>
          </div>
        </div>
{% endblock workspace %}
