{% extends 'base.html' %}
{% block content %}
	<div class="p-0 main_content pt-0">
		<div class=" p-[15px] md:p-[50px]  md:h-[500px] md:h-[500px] bg-[url('/static/images/hero.jpg')] bg-image bg-cover bg-center flex">
			<div>
				<h1 class="text-[40px] md:text-[55px] text-white">Welcome To Auto Server</h1>
				<h1 class="text-[30px] md:text-[45px] text-white">Here You Can Get Your Project Available With Just A Few Click</h1>
				<button class="bg-gradient-to-l from-teal-300/95 iiitransparent via-90% to-teal-900/95 bg-size-100 shadow-md text-[15px] md:text-[30px] p-[15px] md:p-[20px] rounded-full md:pt-[30px]">Get Started</button>
			</div>
			<div class="h-auto w-1/2 hidden bg-red-900 md:block">
			</div>
		</div>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	<p> hello</p>
	</div>
{% endblock %}
